<launch>
	<include file="$(find kobuki_node)/launch/robot_with_tf.launch" />

	<node name="laser_node" pkg="urg_node" type="urg_node" respawn="true">
		<param name="ip_address" value="192.168.0.10" />
	</node>

	<node name="joy" pkg="joy" type="joy_node" respawn="true">
		<param name="autorepeat_rate" value="5" />
	</node>

	<node name="link_hokuyo" pkg="tf2_ros" type="static_transform_publisher"  args="0 0 0.24  0 0 0 base_link laser" />

	<node name="nn_interface_node" pkg="roblearn_nn_interface" type="nn_interface_node.py" respawn="true" />
</launch>
